body{ 
  font-family: Arial; 
  background:#e492d2; 
  text-align:center; 
} 
.container{ 
  width:400px; 
  margin:auto; 
  padding:20px; 
  background:rgb(171, 237, 145); 
  border-radius:8px; 
  box-shadow:0 0 10px rgb(20, 15, 15); 
} 
input{ 
  width:85%; 
  padding:10px; 
  margin:10px 0; 
} 
button{ 
  padding:15px 20px; 
  background:rgb(108, 174, 198); 
  color: blanchedalmond; 
  border-style: groove;
  border-radius: 30px; 
  border-color: bisque;
  cursor:pointer; 
} 
button:hover{ 
  background:rgb(230, 118, 90); 
} 
.error{ 
  color:red; 
  font-size:14px; 
} 
.success{ 
  color:rgb(234, 92, 60); 
  font-weight:bold; 
} 
.apiData{ 
  margin-top:30px; 
  background:#d4d78e; 
  padding:20px; 
}