body{ 
    margin:0; 
    font-family: Arial, sans-serif; 
} 
 
/* Header */ 
.header{ 
    background:#dc68bb; 
    color:rgb(207, 241, 103); 
    text-align:center; 
    padding:25px; 
    font-size: 25px; 
} 
 
/* Navbar */ 
.navbar{ 
    background:#065626; 
    color:rgb(239, 34, 34); 
    display:flex; 
    justify-content:space-between; 
    padding:10px 20px; 
    font-size: 25px; 
} 
 
.navbar a{ 
    color:rgb(248, 244, 169); 
    text-decoration:none; 
    margin-left:15px; 
} 
 
/* Container */ 
.container{ 
    display:flex; 
    padding:40px; 
    background:#e9e6a3; 
} 
 
/* Columns */ 
.column{ 
    flex:1; 
    padding:20px; 
} 
 
/* Footer */ 
.footer{ 
    background:#540808; 
    color:rgb(181, 223, 236); 
    text-align:center; 
    padding:15px; 
} 
